<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings configSource="Common.serviceModel.bindings.config">
    </bindings>
    <client configSource="Common.serviceModel.client.config">
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PPJ.Framework.Base" publicKeyToken="17bef35e11b84171" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PPJ.Framework.DDE" publicKeyToken="17bef35e11b84171" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PPJ.Framework.Vis" publicKeyToken="17bef35e11b84171" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PPJ.Framework.XSal" publicKeyToken="17bef35e11b84171" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" />
        <bindingRedirect oldVersion="9.1.0.0 - 9.2.0.0" newVersion="10.0.3300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" />
        <bindingRedirect oldVersion="9.1.0.0 - 9.2.0.0" newVersion="10.0.3300.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" />
        <bindingRedirect oldVersion="9.1.0.0 - 9.2.0.0" newVersion="10.0.3300.0" />
      </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"/>
            <bindingRedirect oldVersion="10.1.0.000-10.1.0.999" newVersion="2.102.2.20"/>
        </dependentAssembly>
    </assemblyBinding>
  </runtime>
     <system.diagnostics>
     <switches>
       <add name="SQL" value="4" />
       <add name="Windows" value="4" />
       <add name="Files" value="4" />
       <add name="TableWindow" value="4" />
       <add name="Reports" value="4" />
       <add name="System" value="4" />
       <add name="Application" value="4" />
     </switches>
     <trace autoflush="True">
       <listeners>
         <add name="NewListener1" type="System.Diagnostics.TextWriterTraceListener" initializeData="MIH.log" />
       </listeners>
     </trace>
   </system.diagnostics>
</configuration>
