<databases>
<database name="BSCSTSTT">
  <provider name="Oracle" namespace="Oracle.DataAccess.Client" assembly="Oracle.DataAccess" brand="28"/>
  <autocommit value="false"/>
  <named_parameters value="true" prefix=":"/>
  <multiple_connections value="false"/>
  <connection_string value="Data Source=BSCSTSTT"/>
 </database>
<database name="BSCSDEV">
  <provider name="Oracle" namespace="Oracle.DataAccess.Client" assembly="Oracle.DataAccess" brand="28"/>
  <autocommit value="false"/>
  <named_parameters value="true" prefix=":"/>
  <multiple_connections value="false"/>
  <connection_string value="Data Source=BSCSDEV"/>
 </database>
<database name="BSCSADM">
  <provider name="Oracle" namespace="Oracle.DataAccess.Client" assembly="Oracle.DataAccess" brand="28"/>
  <autocommit value="false"/>
  <named_parameters value="true" prefix=":"/>
  <multiple_connections value="false"/>
  <connection_string value="Data Source=BSCSADM"/>
 </database>
<database name="BSCSTEST">
  <provider name="Oracle" namespace="Oracle.DataAccess.Client" assembly="Oracle.DataAccess" brand="28"/>
  <autocommit value="false"/>
  <named_parameters value="true" prefix=":"/>
  <multiple_connections value="false"/>
  <connection_string value="Data Source=BSCSTEST"/>
 </database>
<database name="BSCSTRA">
  <provider name="Oracle" namespace="Oracle.DataAccess.Client" assembly="Oracle.DataAccess" brand="28"/>
  <autocommit value="false"/>
  <named_parameters value="true" prefix=":"/>
  <multiple_connections value="false"/>
  <connection_string value="Data Source=BSCSTRA"/>
 </database>
</databases>
